header,footer{
    background-color:#333;
    color:white;
    padding:10px;
}
nav a{
    margin-right:15px;
    text-decortation:none;
    color:#333;
    font-weight:bold;
}
section{
    background-color:white;
    padding:15px;
    margin-top:10px;
}